/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .about__grid {
    display: flex;
    flex-direction: column;
  }

  .about__description {
    text-align: center;
    margin-bottom: 32px;
  }

  .about__skills {
    text-align: center;
  }

  .skill__item {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .skill__name {
    font-size: 14px;
  }
}

/* Estilos específicos para dispositivos de escritorio */
@media (min-width: 769px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .about__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about__description {
    width: 60%;
  }

  .about__skills {
    width: 35%;
    margin-left: 5%;
  }

  .skill__item {
    display: block;
    margin-bottom: 16px;
  }

  .skill__name {
    font-size: 16px;
  }
}
